<div class="nav-buttons">
  <a href="/"><img src="/img/home.png" alt="Home"></a>
  <a href="/en/"><img src="/img/home_en.png" alt="Home EN"></a>

  <a href="/about"><img src="/img/about.png" alt="About"></a>
  <a href="/en/about"><img src="/img/about_en.png" alt="About EN"></a>

  <a href="/blog"><img src="/img/blog.png" alt="Blog"></a>
  <a href="/en/blog"><img src="/img/blog_en.png" alt="Blog EN"></a>

  <a href="/contact"><img src="/img/contact.png" alt="Contact"></a>
  <a href="/en/contact"><img src="/img/contact_en.png" alt="Contact EN"></a>

  <a href="/hardware"><img src="/img/hardware.png" alt="Hardware"></a>

  <a href="/links"><img src="/img/links.png" alt="Links"></a>
  <a href="/en/links"><img src="/img/links_en.png" alt="Links EN"></a>

  <a href="/projects"><img src="/img/projects.png" alt="Projects"></a>
  <a href="/en/projects"><img src="/img/projects_en.png" alt="Projects EN"></a>

  <!-- Language switch buttons -->
  <a href="/"><img src="/img/flag-pl.png" alt="PL"></a>
  <a href="/en/"><img src="/img/flag-us.png" alt="EN"></a>
</div>